.drag-item {
  cursor: move;
  display: inline-block;
  background: #ccc;
  min-width: 80px;
  height: 40px;
  position: absolute;
  top: 0;
}

.drag-item.dragging {
  background: red;
  display: none;
}

