.gantt-row {
  height: 30px;
  background: #aaa;
}

.gantt-row:nth-child(even) {
  background: #ddd;
}

.gantt-task {
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  height: 30px;
  padding: 0 30px;
  position: absolute;
}