body {
  background: #252525;
  -webkit-overflow-scrolling: auto;
}

body * {
  pointer-events: none;
}

.row:first-child {
  pointer-events: all;
}

.row:first-child .drag-item:first-child {
  pointer-events: all;
}
